* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html {
  /* font-size: calc(1em + 1vw); */
}

.content {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;  */
  /* justify-content: center; */
}

.title {
  /* font-size: 3.4em; */
  /* font-size: 2em; */
  font-size: 34px;
  font-size: 110px;
  font-size: calc(38px + (98 - 38) * (100vw - 320px)/(1700 - 320));
  /* font-size: 98px; */
  margin: 7.5rem 0 1.2rem 0;
}

.colorButton {
  /* background-color: #EBEBEB; */
  background-color: #D8D8D8;
  padding: 10px 18px;
  padding: 8px 16px;
  /* min font size for iPhone 5/SE is 14px */
  font-size: 14px;
  /* font-size: 28px;  */
  font-size: calc(16px + (28 - 16) * (100vw - 320px)/(2000 - 320));
  border-radius: 10px;
  border: 1.5px solid #000;
  margin-bottom: 3.4rem;
}

.loadingMessage  {
  /* display: none; */
  padding-top: 1em;
}

/* initially hide the palette */
.palette {
  display: flex;
  justify-content: center;
  /* align-content: space-between; */
  list-style: none;
  /* margin-top: 3em; */
  width: 80%;
  margin: 0 auto;
}

.swatch {
  /* width: 130px; */
  /* height: 0;
  padding-bottom: 100%; */
  border: 1px solid black;
  flex: 1 0 auto;
}

.swatch:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}